{% extends "base.html" %}

{% block title %}Housing Type{% endblock %}

{% block content %}
    <h1>Type of housing you are looking for:</h1>
    <form>
        <label>
            <input type="radio" name="option" value="short_term" onclick="navigateToPage(this.value)"> Short-term: Residence lasting several days, weeks, or months
        </label><br>
        <label>
            <input type="radio" name="option" value="long_term" onclick="navigateToPage(this.value)"> Long-term: Residence of one year or more
        </label>
    </form>
    <script>
        function navigateToPage(value) {
            if (value === 'short_term') {
                window.location.href = "{{ url_for('short_term') }}";
            } else if (value === 'long_term') {
                window.location.href = "{{ url_for('long_term') }}";
            }
        }
    </script>
{% endblock %}
