{% extends "base.html" %}

{% block title %}Short-Term Housing{% endblock %}

{% block styles %}
    <style>
        .two-table-container {
            display: flex; /* make elements horizontal align */
            overflow-x: auto; /* allow horizontal scrolling */
            overflow-y: auto; /* allow vertical scrolling */
        }

        .table-container {
            flex: 1;
            padding: 10px;
            height: 80vh; /* set height based on the viewport height */
            width: 50%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Short-Term Housing</h1>
    <div class="two-table-container">
        <!-- Hotel Table -->
        <div class="table-container" id="hotel-container">
            {% include 'hotel.html' %}
        </div>

        <!-- Airbnb Table -->
        <div class="table-container" id="airbnb-container">
            {% include 'airbnb.html' %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function loadHotelPage(page, sort_by = document.getElementById('hotel-sort-dropdown').value) {
            $.get('{{ url_for("load_hotel_page") }}', {page: page, sort_by: sort_by}, function (data) {
                $('#hotel-container').html(data);
            });
        }

        function loadAirbnbPage(page, sort_by = document.getElementById('airbnb-sort-dropdown').value) {
            $.get('{{ url_for("load_airbnb_page") }}', {page: page, sort_by: sort_by}, function (data) {
                $('#airbnb-container').html(data);
                console.log(data);
            });
        }
    </script>
{% endblock %}
