{% extends "base.html" %}
{% block content %}

        <div class="image-container">
        <div class="image-item">
            <h3>Long-term Housing: Monthly Rent per Bedroom Distribution</h3>
            <img src="{{ url_for('static', filename='long_price.png') }}" alt="Long-term Housing Price Distribution">
        </div>
        <div class="image-item">
            <h3>Hotel: Price per Room per Night Distribution</h3>
            <img src="{{ url_for('static', filename='hotel_price.png') }}" alt="Hotel Price Distribution">
        </div>
        <div class="image-item">
            <h3>Airbnb: Price per Room per Night Distribution</h3>
            <img src="{{ url_for('static', filename='airbnb_price.png') }}" alt="Airbnb Price Distribution">
        </div>
    </div>

{% endblock %}